body {
  font-size: 14px;
  font-family: "PT Sans", Helvetica, sans-serif;
  line-height: 21px;
  font-weight: 700;
  background-color: #f2f2f2;
}

.wrapper {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-calendar {
  width: 21px;
  height: 22px;
  background-position: -10px -10px;
}

.sprite-calendar_active {
  width: 21px;
  height: 22px;
  background-position: -10px -52px;
}

.sprite-calendar_hover {
  width: 21px;
  height: 22px;
  background-position: -10px -94px;
}

.sprite-checkbox {
  width: 26px;
  height: 22px;
  background-position: -10px -136px;
}

.sprite-checkbox_active {
  width: 26px;
  height: 22px;
  background-position: -10px -178px;
}

.sprite-checkbox_hover {
  width: 26px;
  height: 22px;
  background-position: -10px -220px;
}

.sprite-down {
  width: 11px;
  height: 10px;
  background-position: -10px -262px;
}

.sprite-down_current {
  width: 11px;
  height: 10px;
  background-position: -10px -292px;
}

.sprite-down_hover {
  width: 11px;
  height: 10px;
  background-position: -10px -322px;
}

.sprite-empty_checkbox {
  width: 22px;
  height: 22px;
  background-position: -10px -352px;
}

.sprite-empty_checkbox_active {
  width: 22px;
  height: 22px;
  background-position: -10px -394px;
}

.sprite-empty_checkbox_hover {
  width: 22px;
  height: 22px;
  background-position: -10px -436px;
}

.sprite-f {
  width: 10px;
  height: 19px;
  background-position: -10px -478px;
}

.sprite-f_active {
  width: 10px;
  height: 19px;
  background-position: -10px -517px;
}

.sprite-filter1 {
  width: 22px;
  height: 22px;
  background-position: -10px -556px;
}

.sprite-filter2 {
  width: 26px;
  height: 22px;
  background-position: -10px -598px;
}

.sprite-t {
  width: 17px;
  height: 15px;
  background-position: -10px -677px;
}

.sprite-t_active {
  width: 17px;
  height: 15px;
  background-position: -10px -712px;
}

.sprite-youtube {
  width: 20px;
  height: 16px;
  background-position: -10px -837px;
}

.sprite-youtube_active {
  width: 20px;
  height: 16px;
  background-position: -10px -873px;
}


/*шапка с меню*/

.main-header {
  margin: 0;
  padding: 0;
}

.header-top {
  position: relative;
  background-image: url("../img/headertop.png");
  background-color: #ffffff;
  min-height: 56px;
}

.main-nav {
  margin: 0 6%;
  padding: 15px 0;
  list-style: none;
}

.main-nav-item {
  float: left;
}

.main-nav-item:nth-child(1) {
  width: 22.7%;
}

.main-nav-item:nth-child(2) {
  width: 27.3%;
}

.main-nav-item:nth-child(3) {
  width: 27%;
  text-align: right;
}

.main-nav-item:nth-child(4) {
  width: 22.8%;
  text-align: right;
}

.main-nav-item a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.main-nav .current {
  color: #766357;
}

.main-nav-item a:hover {
  color: #81b3d2;
}

.main-nav-item a:active {
  color: #cccccc;
}

.logo {
  position: absolute;
  top: 0;
  left: 44.17%;
}

.index-preview {
  padding-top: 76px;
  overflow: hidden;
  background-image: url("../img/background.jpg");
  background-color: #3db1d6;
  background-repeat: no-repeat;
  background-size: 100% 789px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.index-mask {
  display: block;
  height: 57px;
  background-image: url("../img/mask.png");
  background-position: bottom center;
  background-size: 100% 57px;
  background-repeat: no-repeat;
}

.index-preview img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 23px;
}

.subject {
  padding-top: 59px;
  padding-bottom: 50px;
  background-color: #ffffff;
  background-image: url("../img/subject.png");
  background-repeat: repeat;
  overflow: hidden;
}


/*центральный текст  и картинка над ней*/

.subject h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-left: 31.67%;
  padding-right: 31.67%;
  margin-bottom: 29px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.subject p {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}


/*блоки преимуществ*/

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.feature {
  -ms-flex: 1 1 21.33%;
  flex: 1 1 21.33%;
  padding: 60px 6% 80px;
  position: relative;
  overflow: hidden;
}

.features-title {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.description {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;
}

.feature-pictured-left {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-right: 70%;
  padding-left: 4.5%;
  padding-top: 53px;
  padding-bottom: 50px;
  max-height: 400px;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
}

.feature-pictured-left img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 66.67%;
}

.feature-pictured-left .features-title {
  padding-left: 22.42%;
  padding-right: 27.5%;
  margin-bottom: 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.feature-pictured-left span {
  display: block;
  margin-bottom: 22px;
  padding-right: 17px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.feature-pictured-left .description {
  padding-right: 15px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-left: 0px;
}

.feature-desc {
  width: 33.33%;
  background-color: #ffffff;
  text-align: center;
  color: #696969;
}

.feature-desc .features-title {
  margin-bottom: 26px;
}

.feature.icon-house .description {
  letter-spacing: 0;
}

.feature.icon-house::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-bottom: 26px;
  width: 75px;
  height: 72px;
  box-sizing: border-box;
  background-image: url(../img/hause.png);
  background-repeat: no-repeat;
}

.feature.icon-burger::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-bottom: 34px;
  width: 74px;
  height: 70px;
  box-sizing: border-box;
  background-image: url(../img/burger.png);
  background-repeat: no-repeat;
}

.feature-desc.icon-burger p {
  letter-spacing: 0px;
  margin-left: -8%;
  margin-right: -8%;
}

.feature-desc.icon-souvenirs p {
  letter-spacing: 0px;
  margin-left: -9%;
  margin-right: -8%;
}

.feature.icon-souvenirs::before {
  margin-top: -3px;
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-bottom: 26px;
  width: 64px;
  height: 76px;
  box-sizing: border-box;
  background-image: url(../img/souvenirs.png);
  background-repeat: no-repeat;
}

.feature-pictured-left {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-right: 70%;
  padding-left: 4.5%;
  padding-top: 53px;
  padding-bottom: 50px;
  max-height: 400px;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
}

.feature-pictured-right {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-left: 69.4%;
  padding-right: 2.8%;
  padding-top: 55px;
  padding-bottom: 51px;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0px;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
  background-color: #81b3d2;
  color: #ffffff;
}

.feature-pictured-right .features-title {
  margin: 0;
  margin-bottom: 24px;
  color: #ffffff;
  white-space: pre-line;
}

.feature-pictured-right img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 66.67%;
}

.feature-pictured-right span {
  display: block;
  margin-bottom: 22px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.feature-pictured-right .description {
  color: #ffffff;
  margin-right: 0%;
  margin-left: 2%;
  padding-right: 0%;
  padding-left: 2%;
  line-height: 20px;
}

.feature-preference {
  width: 33.33%;
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #eeeeee;
  text-align: center;
}

.feature-preference .features-title {
  margin-bottom: 25px;
  white-space: pre-line;
}

.feature-preference .desc-middle {
  margin-left: -5%;
  margin-right: -4%;
}

.feature-preference .desc-right {
  margin-left: -2%;
}

.feature-preference span {
  display: block;
  margin-bottom: 21px;
  font-weight: normal;
  color: #333333;
  font-weight: normal;
}

.feedback {
  display: block;
  padding-top: 47px;
  background-color: #ffffff;
  color: #000000;
}

.feedback-description {
  text-align: center;
  background-color: #ffffff;
}

.feedback-description h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: bold;
}

.feedback-description p {
  padding: 0;
  margin: 0;
  padding-left: 31.67%;
  padding-right: 31.67%;
  margin-bottom: 46px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  font-weight: normal;
}


/*всплывающее окно*/

.modal-content {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #ffffff;
}

.modal-content .btn-title {
  display: block;
  width: 568px;
  height: 86px;
  border: none;
  text-align: center;
  background-color: #766357;
  color: #ffffff;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 25px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-title span {
  margin-top: 33px;
  margin-bottom: 31px;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: normal;
}

.feedback-form {
  padding-right: 55px;
  padding-left: 55px;
  padding-top: 55px;
  padding-bottom: 55px;
  position: absolute;
  top: 86px;
  left: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
}

.feedback-form-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  text-align: start;
  color: #000000;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feedback-form-inner.inner-field label {
  -ms-flex: 0 0 112px;
  flex: 0 0 112px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #000000;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
}

.inner-field {
  position: relative;
}

.feedback-form-inner.inner-field input {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 346px;
  height: 38px;
  padding-left: 10px;
  background-color: #f2f2f2;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  border: 2px solid transparent;
  box-sizing: border-box;
  letter-spacing: 0;
}

.feedback-form-inner input:hover {
  background-color: #ebebeb;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.feedback-form-inner input:focus {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  font-weight: bold;
  line-height: inherit;
  text-transform: uppercase;
  outline: none;
  margin: 0;
}

.inner-field .calendar {
  display: block;
  position: absolute;
  width: 21px;
  height: 22px;
  border: none;
  background-color: #f2f2f2;
  background-image: url("../img/sprite.png");
  width: 21px;
  height: 22px;
  background-position: -10px -10px;
  top: 8px;
  left: 93%;
  outline: none;
}

.inner-field .calendar:hover {
  display: block;
  position: absolute;
  width: 21px;
  height: 22px;
  background-position: -10px -94px;
  top: 8px;
  left: 93%;
  outline: none;
  background-image: url("../img/sprite.png");
}

.inner-field .calendar:active {
  display: block;
  position: absolute;
  width: 21px;
  height: 22px;
  background-position: -10px -52px;
  left: 93%;
  top: 8px;
  background-image: url("../img/sprite.png");
  outline: none;
}

.feedback-form-inner.inner-left {
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-bottom: 54px;
  text-align: start;
}

.feedback-form-inner.inner-right {
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-bottom: 54px;
}

.inner-left label, .inner-right label {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #000000;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.inner-left label {
  margin-right: 45px;
}

.inner-right label {
  margin-right: 30px;
}

.inner-left .counter, .inner-right .counter {
  font-size: 0;
}

.counter button, .counter input {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-align: center;
  width: 38px;
  height: 38px;
  outline: none;
}

.counter input {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.counter .inner-btn {
  font-size: 14px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.counter .inner-btn:hover {
  color: #000000;
  outline: none;
}

.counter .inner-btn:active {
  color: #81b3d2;
  outline: none;
}

.modal-content .btn {
  display: block;
  width: 458px;
  min-height: 58px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  box-sizing: border-box;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
}

.modal-content .btn:hover {
  background-color: #669ec0;
  color: #d6e5ee;
  outline: none;
}

.modal-content .btn:active {
  background-color: #5496bd;
  color: #88b6d1;
  outline: none;
}

.index-map {
  height: 593px;
  background-image: url("../img/map.jpg");
  background-color: #bfec8c;
  background-repeat: no-repeat;
  background-size: 100% 593px;
}


/*футер*/

.main-footer.footer-absolute {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 120px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fefefe;
  opacity: 0.9;
  overflow: hidden;
}

.main-footer {
  position: static;
  height: 120px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fefefe;
  overflow: hidden;
}

.footer {
  margin: auto;
}

.footer-contacts {
  margin-top: 17px;
  margin-bottom: 23px;
  padding-left: 18px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-contacts a {
  color: #000000;
  text-decoration: none;
}

.footer-social {
  margin-top: 35px;
  margin-bottom: 34px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 25px
}

.social-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 6px;
  width: 46px;
  height: 48px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn-1 {
  background-color: #81b3d2;
  background-size: 17px 15px;
  position: relative;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.social-btn-1::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 15px;
  background-position: -10px -677px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-btn-1:active::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 15px;
  background-position: -10px -712px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-btn-2 {
  position: relative;
  background-color: #81b3d2;
  background-size: 10px 19px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.social-btn-2::before {
  position: absolute;
  content: "";
  background-image: url("../img/sprite.png");
  width: 10px;
  height: 19px;
  background-position: -10px -478px;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-btn-2:active::before {
  position: absolute;
  content: "";
  background-image: url("../img/sprite.png");
  width: 10px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: -10px -517px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-btn-3 {
  margin-right: 0;
  position: relative;
  background-color: #81b3d2;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.social-btn-3::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  width: 20px;
  height: 16px;
  background-position: -10px -837px;
}

.social-btn-3:active::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  width: 20px;
  height: 16px;
  background-position: -10px -873px;
  background-repeat: no-repeat;
}

.footer-copyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-top: 39px;
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 26px;
}

.footer-copyright span {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #000000;
  text-transform: uppercase;
}

.footer-copyright a {
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 39px;
  width: 113px;
  background-image: url(../img/copyright.png);
  background-repeat: no-repeat;
  background-size: 113px 39px;
  margin-right: -8px;
}

.footer-copyright a:hover {
  background-image: url("../img/copyright_hover.png");
  background-repeat: no-repeat;
  background-size: 113px 39px
}

.footer-copyright a:active {
  background-image: url("../img/copyright_active.png");
  background-repeat: no-repeat;
  background-size: 113px 39px;
}


/*страница каталога с фильтрами*/


/*фильтр*/

.catalog-main-filter {
  padding-top: 27px;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 26px;
  overflow: hidden;
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-position: 50% 20%;
}

.catalog-main-filter form {
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form-filter {
  padding: 0;
  margin: 0;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: normal;
}

.form-filter.filter-type, .form-filter.filter-conditions {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 0;
  width: 24%;
  margin-right: 0;
}

.form-filter legend {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.form-filter input[type="checkbox"] {
  display: none;
}

.form-filter input[type="checkbox"]+label {
  display: block;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 9px;
  position: relative;
}

.form-filter input[type="checkbox"]+label::before {
  position: absolute;
  content: "";
  background-image: url("../img/empty_checkbox.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  top: 15px;
  left: 0;
}

.form-filter input[type="checkbox"]+label:hover::before {
  position: absolute;
  content: "";
  background-image: url("../img/empty_checkbox_hover.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  top: 15px;
  left: 0;
}

.form-filter input[type="checkbox"]+label:active::before {
  position: absolute;
  content: "";
  background-image: url("../img/empty_checkbox_active.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  top: 15px;
  left: 0;
}

.form-filter input[type="checkbox"]:checked+label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  top: 15px;
  left: 0;
}

.form-filter input[type="checkbox"]:checked+label:hover::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox_hover.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  top: 15px;
  left: 0;
}

.form-filter input[type="checkbox"]:checked+label:active::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox_active.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  top: 15px;
  left: 0;
}


/*ползунок*/

.filter-range {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  padding: 0;
  padding-left: 21%;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
}

.filter-controls {
  padding-left: 2.52%;
}

.filter-range legend {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  display: block;
  position: relative;
  height: 32px;
  font-size: 0;
  margin-bottom: 22px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  text-align: center;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls .min-price {
  text-align: center;
  width: 50%;
  margin: 0;
  height: 32px;
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: normal;
  background: none;
  border: none;
  outline: none;
}

.price-controls .max-price {
  text-align: center;
  width: 50%;
  margin: 0;
  height: 32px;
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: normal;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 95px;
  margin-right: 4px;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}


/*выбор отелей*/

.hotels {
  display: -ms-flexbox;
  display: flex;
  padding-left: 6%;
  padding-right: 6%;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  text-transform: uppercase;
}

.catalog-results {
  margin-right: 50px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.sort-hotels {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sort-choice {
  float: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.sort-choice li {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.sort-choice span {
  padding-right: 50px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.sort-choice b {
  padding-right: 40px;
  color: #000000;
}

.sort-choice a {
  margin-right: 34px;
  color: #cccccc;
  text-decoration: none;
  display: inline;
  border-bottom: 1px dotted #81b3d2;
}

.sort-choice a:hover {
  color: #81b3d2;
  text-decoration: none;
  text-decoration: underline;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-choice a:active {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}

.sort-choice .sort-choice-current {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: none;
}


/*стредочки вверх-вниз*/

.sort-control {
  font-size: 0;
}

.sort-control .control {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  font-size: 12px;
  line-height: 18px;
}

.sort-control .control-up {
  padding-right: 12px;
  background-image: url("../img/up.png");
  background-size: 11px 10px;
  background-repeat: no-repeat;
}

.sort-control .control-up:hover {
  background-image: url("../img/up_hover.png");
  background-size: 11px 10px;
  background-repeat: no-repeat;
}

.sort-control .control-up:active {
  background-image: url("../img/up_active.png");
  background-size: 11px 10px;
  background-repeat: no-repeat;
}

.sort-control .control-current {
  background-image: url("../img/down_current.png");
  background-size: 11px 10px;
  background-repeat: no-repeat;
}


/*список отелей*/

.items-left {
  padding-top: 24px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 21px;
  font-family: inherit;
  text-transform: uppercase;
}

.items-left img {
  float: left;
  margin-right: 30px;
}

.items-desc {
  float: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.items-desc h3 {
  padding: 0;
  margin: 0;
}

.items-desc .hotels-title {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 8px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.items-desc .hotels-title:hover {
  color: #89b8d5;
}

.items-desc .hotels-title:active {
  color: #b2b2b2;
}

.items-desc .hotels-type {
  margin-bottom: 12px;
  align-self: flex-start;
  font-size: 14px;
  line-height: 21px;
  color: #766357;
  font-weight: normal;
}

.hotels-type .type {
  width: 105px;
  display: inline-block;
  margin-right: 6px;
}

.items-desc .items-order {
  display: block;
  font-size: 0;
}

.items-order .hotels-btn {
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 18px;
  padding-left: 17px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.items-order .bnt-about {
  background-color: #81b3d2;
  color: #ffffff;
}

.items-order .bnt-about:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.items-order .bnt-about:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.items-order .btn-book {
  background-color: #766357;
  color: #ffffff;
}

.items-order .btn-book:hover {
  background-color: #604e43;
  color: #ffffff;
}

.items-order .btn-book:active {
  background-color: #503e33;
  color: #857871;
}

.rate {
  float: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column-reverse nowrap;
  flex-flow: column-reverse nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-family: inherit;
  font-weight: normal;
}

.rate .stars {
  display: block;
  max-width: 115px;
  height: 17px;
  margin-bottom: 45px;
  background-image: url(../img/star.png);
  background-position: -1px 0;
  background-repeat: repeat-x;
  background-size: 23px 18px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.rate .stars-4 {
  width: 90px;
  height: 18px;
}

.rate .stars-3 {
  width: 68px;
  height: 18px;
}

.rate .stars-2 {
  width: 46px;
  height: 18px;
}

.rate .rating {
  width: 110px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #666666;
  background-color: #f2f2f2;
}

.inner-page-footer {
  position: static;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/footer.png");
  background-color: #fbf9f1;
  background-repeat: repeat;
  overflow: hidden;
}
