body {
  font-size: 14px;
  font-family: "PT Sans", Helvetica, sans-serif;
  line-height: 21px;
  font-weight: 700;
  color: ;
}

h3 {
  font-size: 21px;
  line-height: 26px;
}

.wrapper {
  max-width: 1200px;
  min-width: 780px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/*шапка с меню*/

.main-header {}

.header-top {
  position: relative;
  background-image: url("../img/headertop.png");
  color: #ffffff;
}

.main-nav {
  padding: 15px 0;
  list-style: none;
}

.main-nav-item {
  width: 20%;
}

.main-nav-item:nth-child(odd) {
  float: left;
  text-align: left;
}

.main-nav-item:nth-child(even) {
  float: right;
  text-align: right;
}

.main-nav-item:nth-child(4n+1) {
  margin-left: 6%;
}

.main-nav-item:nth-child(4n+2) {
  margin-right: 6%;
}

.main-nav-item a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.logo {
  position: absolute;
  top: 0;
  left: 44.17%;
}


/*почему логитип странно вверху выглядит? и как опустить вниз тор - с 50 до 67 пикселей как на макете */

.header-bottom {
  padding-bottom: 23px;
  padding-top: 76px;
  margin-bottom: 55px;
  overflow: hidden;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.index-mask {
  background-image: url("../img/headerbottom.png");
  background-repeat: no-repeat;
  background-size: 100% 4.75%;
}

.header-bottom img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid black;
}


/*как поставить маску на картинку*/


}
.subject {
  background-color: #ffffff;
  background-image: url("../img/subject.png");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

/*центральный текст  и картинка над ней*/
.subject h3 {
  text-align: center;
  padding-left: 31.67%;
  padding-right: 31.67%;
  margin-bottom: 31px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  outline: 1px solid black;
  /*почему текст не становится как на картинке, при заданных отступах?*/
}
.subject p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  outline: 1px solid black;
}

/*блоки преимуществ*/
.features {
  /*почему фичи стали уже чем основной блок*/

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  outline: 1px solid black;
  margin-bottom: 57px;
}
.feature {
  outline: 1px solid black;
  flex: 1 1 33%;
  position: relative;
  overflow: hidden;
}
.feature-pictured-left {
  flex-basis: 100%;
  padding-right: 71.67%;
  padding-left: 5%;
  padding-top: 4.17%;
  padding-bottom: 4.17%;
  background-color: #81b3d2;
}
.feature-pictured-left img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.feature-pictured-left h3 {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  /*как выравнивать по центру тект, если ниже текст большего размера?*/
}
.feature-pictured-left span {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}
.feature-pictured-left p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}
.feature-desc {
  width: 33.33%;
  position: relative;
  padding-top: 5%;
  padding-bottom: 7.08%;
  background-color: #ffffff;
}
.feature-desc h3 {
  padding-left: 15.25%;
  padding-right: 15.25%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.feature-desc p {
  padding-left: 15.25%;
  padding-right: 15.25%;
  text-align: center;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  /*может картинкой тект вырезать? непонятно какой шрифт и отступы*/
}
.feature-desc::before {
  position: absolute;
  background-image: url("../img/hause.png");
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
}
.feature-pictured-right {
  flex-basis: 100%;
  padding-left: 71.67%;
  padding-right: 5%;
  padding-top: 4.17%;
  padding-bottom: 4.17%;
  background-color: #81b3d2;
}
.feature-pictured-right img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
}
.feature-pictured-right h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.feature-pictured-right span {
  /*не центрируется спан??*/

  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}
.feature-pictured-right p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}
.feature-preference {
  width: 33.33%;
  background-color: #eeeeee;
  padding-top: 4.17%;
  padding-bottom: 5.25%;
}
.feature-preference h3 {
  padding-left: 23.75%;
  padding-right: 23.75;
  text-align: center;
  text-transform: uppercase;
}
.feature-preference span {
  padding-left: 23.75%;
  padding-right: 23.75;
  text-align: center;
}
.feature-preference p {
  padding-left: 23.75%;
  padding-right: 23.75;
  text-align: center;
  text-transform: uppercase;
}

/*сделать центровку текста в блоках?*/

/*текст перед всплывающим окном*/
.feedback-description {
  outline: 1px solid black;
  margin-bottom: 47px;
}
.feedback-description h2 {
  text-align: center;
}
.feedback-description p {
  padding-left: 31.67%;
  padding-right: 31.67%;
  text-align: center;
}

/*всплывающее окно*/
.index-popup {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  /*почему не цетрируется popup*/
}
.btn-title {
  display: block;
  width: 568px;
  height: 86px;
  margin-bottom: 55px;
  text-align: center;
  background-color: #766357;
  color: #ffffff;
}
.btn-title span {
  text-align: center;
  margin-top: 33px;
  margin-bottom: 31px;
  font-size: 21px;
}
input[type="text"] {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
.feedback-form-inner {
  outline: 1px solid black;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 30px;
  color: #000000;
}
.inner-left {
  float: left;
}
.inner-left input[type="text"], .inner-right input[type="text"] {
  width: 38px;
  height: 38px;
}
.inner-right {
  float: right;
  margin-bottom: 54px;
}
.inner-btn {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}
.index-popup .btn {
  display: block;
  width: 458px;
  min-height: 58px;
  margin-left: 55px;
  margin-right: 55px;
  box-sizing: border-box;
  background-color: #81b3d2;
}
.map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

/*футер*/
.main-footer {
  margin-top: 78px;
  outline: 1px solid black;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  ;
}
.footer {
  flex-basis: 1 1 33.33%;
  margin: auto;
}

/*все равно не получается точная центровка, разбежка 10px*/
.footer-contacts {}
.footer-social {
  margin-top: 36px;
  margin-bottom: 36px;
  outline: 1px solid black;
}
.social-btn {
  display: inline-block;
  margin-right: 6px;
  width: 46px;
  height: 48px;
}
.social-btn-1 {
  background-image: url("../img/t.png");
  background-repeat: no-repeat;
  background-color: #81b3d2;
}
.social-btn-2 {
  background-image: url("../img/f.png");
  background-repeat: no-repeat;
  background-color: #81b3d2;
}
.social-btn-3 {
  background-image: url("../img/youtube.png");
  background-repeat: no-repeat;
  background-color: #81b3d2;
}
.footer-copyright {}

/*страница каталога с фильтрами*/

/*фильтр*/
.catalog-header-bottom {
  padding-top: 14px;
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 39px;
  background-image: url("../img/filter_background.jpg");
}
.choice-left {
  float: left;
}
.choice-left li {
  outline: 1px solid black;
  padding-left: 0;
  /*паддинг не работает!*/

  list-style: none;
}
.choice-right {
  float: right;
  /*Вот как его правильно выровнять и задать длину?*/
}

/*выбор отелей*/
main {
  padding-left: 6%;
  padding-right: 6%;
}
.hotels {
  display: block;
  outline: 1px solid black;
}
.sort-choice {
  float: left;
  padding-left: 0;
  outline: 1px solid black;
}
.sort-choice li {
  display: inline-block;
  outline: 1px solid black;
  vertical-align: center;
}
.sort-control {
  float: right;
  display: inline-block;
  outline: 1px solid black;
}
.control-up {
  background-image: url("../img/up.png");
  background-repeat: no-repeat;
}
.control-down {
  background-image: url("../img/down.png");
  background-repeat: no-repeat;
}
.items-left {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
.items-left img {
  display: inline-block;
  margin-right: 30px;
}
.items-desc {
  display: inline-block;
}
.rate {
  float: right;
}
